*{

    font-family: BentonSansBBVA-Medium, sans-serif !important;
}


.f-crousel{

    background-color:#043263 ;
    padding: 16px 16px 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 172px;
    max-height: 172px;
    
}

.kredi{
    background-color:#F4F4F4 ;
    line-height: 48px;
    
}
.temp{

    background-color: rgba(255, 255, 255, 0.795);
    display: flex;
}

.temp-2{

    background-color:rgb(20, 100, 165);
    display: flex;
    /* text-align: center; */
}
.btn-border{

    border-radius: 10px !important;
    border-color: #1464A5 !important;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .Main-Text:hover + .Extra-Text {
    display: block;
}

.Extra-Text {
    background-color: #FFFFFF;
    margin-top: 10px;
    width: 200px;
    border: 2px solid #000000;
    padding: 10px;
    font-size: 16px;
    display: none;
    overflow: scroll;
}

/* @media only screen and (max-width: 61.99em) {
    .financial a {
        height: 432px;
        max-height: 432px;
    }
} */

/* @media only screen and (min-width: @screen-lg-min ) { 
    
    .financial a img {

        height: 432px;
        max-height: 432px;


} } */


/* width: 45%;
left: 0;
top: 0; */

