* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: BentonSansBBVA-Bold;
  src: url(../../assets/fonts/BentonSansBBVA-Bold.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: BentonSansBBVA-Book;
  src: url(../../assets/fonts/BentonSansBBVA-Book.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: BentonSansBBVA-Medium;
  src: url(../../assets/fonts/BentonSansBBVA-Medium.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: BentonSansBBVA-Light;
  src: url(../../assets/fonts/BentonSansBBVA-Light.woff2) format("woff2");
  font-display: swap;
}

/* bootstrap'ten gelen container üzerinde biraz değişiklik yaptım */
.container {
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

.header-topbar {
  height: 32px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
}

.header-topbar a {
  text-decoration: none;
  font-family: BentonSansBBVA-Medium, sans-serif;
  color: #bdbdbd;
  font-size: 13px;
  line-height: 24px;
}

.header-topbar-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
}

.header-topbar-list li {
  display: flex;
  align-items: center;
}

.header-topbar-list .topbar-seperator {
  width: 1px;
  height: 20px;
  background: #bdbdbd;
  margin-left: 10.5px;
  margin-right: 10.5px;
}

.header-mainbar {
  padding-top: 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mobile-header-mainbar {
  display: flex;
  justify-content: space-between;
}

.garanti-logo {
  height: 39px;
}

.mobile-garanti-logo {
  height: 27.5px;
}

.mainbar-duolinks {
  margin-left: 53px;
}

.mainbar-linklist {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.mainbar-link:first-child {
  margin-right: 28px;
}

.mainbar-linklist .link {
  display: block;
  text-decoration: none;
  color: #000;
  opacity: 0.6;
  font-family: BentonSansBBVA-Book, sans-serif;
  line-height: 24px;
  font-size: 15px;
  padding: 8px 10px;
}

.mainbar-linklist .link.active {
  opacity: 1;
  font-family: BentonSansBBVA-Medium, sans-serif;
  color: #225a8f;
  border-bottom: 5px solid #004481;
}

.mainbar-right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.mainbar-buttonlist {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.mainbar-button:first-child {
  margin-right: 9px;
}

button.mainbar-search {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: BentonSansBBVA-Medium, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #004481;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.mainbar-seperator {
  width: 1px;
  height: 32px;
  background: #e9e9e9;
  align-self: center;
  margin-right: 20px;
}

.musteri-ol-link {
  display: block;
  color: #004481;
  font-family: BentonSansBBVA-Medium, sans-serif;
  text-decoration: none;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
}

.giris-yap-button {
  background-color: #004481;
  border: 0;
  padding: 0.75rem 1rem;
  font-size: 15px;
  font-family: BentonSansBBVA-Medium, sans-serif;
  line-height: 22px;
  height: 48px;
}

.mainbar-navbar {
  min-height: 64px;
  margin-top: 7px;
}

.mainbar-navlist {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: -15px;
  margin-bottom: 0;
}

.mainbar-navlist .item {
  padding: 0 15px;
}

.mainbar-navlist .item a {
  display: block;
  padding: 21px 0;
  color: #225a8f;
  text-decoration: none;
  font-family: BentonSansBBVA-Medium, sans-serif;
  line-height: 24px;
  font-size: 15px;
}

.sticky {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.mobile-header {
  min-height: 56px;
  max-height: 56px;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 4444;
}

/* toggle menu */
.toggle-menu {
  display: none;
  position: fixed;
  top: 56px;
  left: 0px;
  background-color: white;
  z-index: 66666;
  width: 100%;
  height: -webkit-fill-available;
}

.toggle-menu.open {
  display: block;
}

.toggle-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toggle-menu ul a {
  text-decoration: none;
  font-family: BentonSansBBVA-Book, sans-serif;
  font-size: 15px;
  color: #121212;
  letter-spacing: 0;
  line-height: 19px;
  text-wrap: nowrap;
}

.toggle-menu ul li button {
  border: none;
  background-color: transparent;
}

.toggle-menu .forward-img {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.toggle-menu ul li button {
  min-height: 56px;
}

.toggle-menu .text-wrapper {
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 0px;
}

.toggle-menu .img-wrapper {
  width: 24px;
}

/* buraya kadar olan css kodu ortak */
/* fontlar, navbar */

.font {
  background-color: #d7dfd6;
  font-size: 0.8rem;
  padding-bottom: 0px;
}

.list-color {
  color: #082145;
}

.btn-color {
  background-color: #082145 !important;
}

.btn-color:hover {
  background-color: #24426c !important;
}

.navalt {
  color: #235a8f;
}

.bg-header {
  background-image: url(./img/blue-header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-green {
  background-color: #007e7e !important;
}

.card-body {
  background-color: #f4f4f4;
}

ul li a {
  list-style-type: none;
  color: #082145;
}

ul li {
  list-style-type: none;
}

.top-bar {
  top: 0;
  /* margin: 0; */
  padding: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.top-botton {
  position: fixed;
  right: 32px;
  bottom: 24px;
  z-index: 4;
  display: flex;
  align-items: center;
  background-color: #1464a5;
  color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 12px;
}

.mini-nav:hover {
  text-decoration: underline;
}

.foot ul {
  padding: 0;
  margin: 0;
}

.footer-con {
  display: flex;
  flex-wrap: wrap;
  padding: 70px;
}

.fit {
  width: 100%;
  /* Resmin genişliği, kartın genişliğine uysun */
  height: 350px;
  /* Resmin yüksekliği */
  object-fit: cover;
  /* Resmi keserek, konteyneri dolduracak şekilde ayarla */
  object-position: top;
  /* Resmin üst kısmını ön planda tut */
}

/* footer container */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 70px;
  background: #f8f9fa;
}

.footer-column ul {
  list-style-type: none;
  /* Listelerdeki marker'ları kaldırır */
  padding: 0;
  /* İç boşluğu sıfırlar */
  margin: 0;
  /* Dış boşluğu sıfırlar */
}

.footer-column ul li a {
  font-size: 15px;
  font-weight: bold;
  color: #1563a5;
}

h6 {
  font-weight: bold;
}

.footer-column ul li {
  margin-bottom: 10px;
  /* Liste öğeleri arasına alttan 10px boşluk ekler */
}

/* en alt */
.last-footer {
  padding: 5px 20px;
  background-color: #062145;
}

.footer-column2 {
  flex-wrap: wrap;
}

.footer-column2 li {
  list-style-type: none;
  margin-left: 0px;
  padding-right: 10px;
}

.footer-column2 li a {
  color: #49a3e3;
}

.footer-column2 li a:hover {
  color: white;
  /* Metin rengi mavi */
}

.border {
  border-right: 5px solid #039fe2;
  height: 115px !important;
}

.site {
  margin-top: 3.5rem !important;
  margin-left: 95px;
}

.site-a {
  color: #49a3e3;
}

.site a:hover {
  color: white;
}

.footer-son-li {
  margin-top: 10px;
  margin-right: 8px;
}

.ikon-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* footer kısmı */
/* media footer */
@media screen and (max-width: 992px) {
  .ikon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoresponsive {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .text-custom {
    border: none;
    justify-content: center;
  }

  .site {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .son {
    text-align: center;
    margin: 0;
  }

  .footer-column2 {
    display: grid !important;
    justify-content: center !important;
    align-items: center;
  }

  .footer-son-li {
    padding-bottom: 10px;
  }
}

.ikon i {
  color: #039fe2;
  font-size: 1.5rem;
}

.ikon i:hover {
  color: white;
}

.text-custom {
  border-right: 2px solid #49a5e6;
  padding-left: 5px;
  padding-right: 15px;
  font-size: 24px;
  color: #039fe2;
}

.text-custom:hover {
  color: white;
}

a {
  text-decoration: none;
}

/* footer diğer */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 70px;
  background: #f8f9fa;
}

.footer-column ul {
  list-style-type: none;
  /* Listelerdeki marker'ları kaldırır */
  padding: 0;
  /* İç boşluğu sıfırlar */
  margin: 0;
  /* Dış boşluğu sıfırlar */
}

.footer-column ul li a {
  font-size: 15px;
  font-weight: bold;
  color: #1563a5;
}

h6 {
  font-weight: bold;
}

.footer-column ul li {
  margin-bottom: 10px;
  /* Liste öğeleri arasına alttan 10px boşluk ekler */
}

/* en alt */
.last-footer {
  padding: 5px 20px;
  background-color: #062145;
}

.footer-column2 {
  flex-wrap: wrap;
}

.footer-column2 li {
  list-style-type: none;
  margin-left: 0px;
  padding-right: 10px;
}

.footer-column2 li a {
  color: #49a3e3;
}

.footer-column2 li a:hover {
  color: white;
  /* Metin rengi mavi */
}



.site {
  margin-top: 3.5rem !important;
  margin-left: 95px;
}

.site-a {
  color: #49a3e3;
}

.site a:hover {
  color: white;
}

.footer-son-li {
  margin-top: 10px;
  margin-right: 8px;
}

.ikon-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}